$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower


li{
  list-style: none;
}
#player-1{
  float: left;
  margin: 0 15px 0 0;
}
#player-2{
  float: right;
}
img{
  width: 7.5em;
  margin: 5px;
}